.about {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding-top: 1rem;

  &-content {
    display: flex;

    p:first-child {
      width: 50%;
      margin: 10px 0;
      text-align: right;
      padding: 0 1rem;;
      font-weight: 600;
      color: rgba(139, 134, 134, 0.8);
    }
  
    p:last-child {
      width: 50%;
      margin: 10px 0;
      text-align: left;
      padding: 0 1rem;
      font-weight: 600;
      color: #000000;
    }
  }

  .title-breeding {
    text-align: center;
    font-weight: 700;
    color: #000000;
  }
}
